.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
  overflow-x: auto;
}

.tableHeading {
  color: #003285;
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.filterText {
  margin-left: 5px;
   color: #003285;
  font-size: 16px;
}

.marginLeft5 {
  margin-left: 5px;
}

.tableContainer {
  width: "100%";
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.tableHeaderStyle {
  background: #3674B5;
  padding: 10px;
  text-align: left;
  border: 1px solid #3674B5;
}

.tableRowStyleEven {
  background: #f2f7fc;
  cursor: pointer;
}

.tableRowStyleOdd {
  background: #ffffff;
   cursor: pointer;
}


.tableRowStyleEven:hover, .tableRowStyleOdd:hover{
  background: #dbe9f9;
}


.tableCellStyle {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/********/

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

thead {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

button {
  margin: 0 5px;
}

.modalRow {
  display: flex;
  align-items: center;
}

.modalHeading {
   color: #003285;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

.modalTitle {
  color: #3674B5;
  font-size: 16px;
}

.modalDisc {
  color: #3674B5;
  margin-left: 5px;
  font-size: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
  margin-left: 5px;
  padding: 0.4rem 0.6rem;
  border: 1px solid #3674B5;
  color: #003285;
  border-radius: 4px;
  background-color: #f2f7fc;
  font-size: 14px;
  cursor: pointer;
}


.enableButton {
  padding: 0.4rem 0.8rem;
  background-color: #f2f7fc;
  color: #003285;
  border: 1px solid #003285;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.disabledButton {
  padding: 0.4rem 0.8rem;
  background-color: #e0e0e0;
  color: #9e9e9e;
   border-radius: 4px;
     font-size: 14px;
  cursor: not-allowed;
  border: 1px solid #ccc;
}



